/* Variables for colors and gradients */
:root {
  --primary-color: #ff69b4; /* Bright pinkish color */
  --gradient-bg: linear-gradient(135deg, #800080, #ff69b4); /* Purple to Pink gradient */
  --text-color: #333; /* Dark text color for better contrast on white background */
  --box-shadow-color: rgba(128, 0, 128, 0.5); /* Purple shadow color */
  --background-color: #fff; /* White background color */
}

/* Reset and Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: 'Arial, sans-serif';
  background: white;
  color: var(--text-color);
}

/* Home Container */
.home-container {
  width: 100%;
  max-width: 1200px; /* Limit max width for larger screens */
   /* Center horizontally but only limit width on larger screens */
  padding: 2rem 1rem;
  box-sizing: border-box;
}

/* Home Grid: Mobile First Design */
.home-grid {
  display: grid;
  grid-template-columns: 1fr; /* One column by default for mobile */
  grid-gap: 1.5rem;
  width: 100%;
}

/* Grid Items */
.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  background: var(--gradient-bg);
  border-radius: 10px;
  box-shadow: 0px 4px 8px var(--box-shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-item:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 16px var(--box-shadow-color);
}

.grid-item h2 {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Media Queries for Tablet */
@media (min-width: 600px) {
  .home-grid {
    grid-template-columns: 1fr 1fr; /* Two columns for tablets */
    grid-gap: 2rem;
  }

  .grid-item h2 {
    font-size: 1.75rem;
  }
}

/* Media Queries for Desktop */
@media (min-width: 1024px) {
  .home-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .home-grid {
    grid-template-columns: 1fr 1fr; /* Keep two columns for desktop */
    grid-gap: 3rem;
  }

  .grid-item {
    padding: 3rem;
  }

  .grid-item h2 {
    font-size: 2rem;
  }
}
