/* General Navbar Styling - Mobile First */
.navbar {
  background: linear-gradient(135deg, #FFFFFF, #FF4ECD);
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.avatar:hover {
  transform: scale(1.1);
}

h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #1E0036;
  transition: color 0.3s ease;
}

.navbar-links-container {
  display: none; /* Hidden by default for mobile view */
}

.navbar-links-container a {
  color: #1E0036;
  text-decoration: none;
  margin-left: 15px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.navbar-links-container a:hover {
  color: #FF4ECD;
}

/* Media Queries for Larger Screens */
@media (min-width: 768px) {
  .navbar-links-container {
    display: flex; /* Show links on larger screens */
  }

  h1 {
    font-size: 2rem;
  }

  .navbar-container {
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .navbar {
    padding: 10px;
    margin-right: 90rem;
    width: 100%;
  }
}
