/* Mobile-First CSS for Signup Component */

/* Signup Container */
.signup-container {
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  margin: 10px auto;
}

/* Heading */
.signup-heading {
  color: #FF4ECD;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2em;
}

/* Signup Form */
.signup-form {
  display: flex;
  flex-direction: column;
}

/* Form Flex Row */
.signup-flex-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* Form Label */
.signup-label {
  color: #9B51E0;
  margin-bottom: 8px;
  font-weight: bold;
}

/* Form Input */
.signup-input {
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #9B51E0;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
}

.signup-input:focus {
  border-color: #9B51E0;
  box-shadow: 0 0 5px #9B51E0;
}

/* Button */
.signup-button {
  background-color: #FF4ECD;
  width: 100%;
  max-width: 10rem;
  color: #FFFFFF;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin: 0 auto;
}

.signup-button:hover {
  background-color: #9B51E0;
  transform: translateY(-3px);
}

.signup-button:active {
  transform: translateY(1px);
}

/* Signup Link */
.signup-link {
  color: #4EDFFF;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
}

.signup-link:hover {
  text-decoration: underline;
}

/* Align Flex Items End */
.signup-flex-end {
  align-items: flex-end;
}

/* Media Queries for Larger Screens (Desktop) */
@media (min-width: 768px) {
  .signup-container {
    width: 50%;
    margin: 50px auto;
    padding: 40px;
  }

  .signup-heading {
    font-size: 2.5em;
    margin-top: 80px;
  }

  .signup-flex-row {
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }

  .signup-input {
    width: 100%;
    max-width: 20.2rem;
  }

  .signup-button {
    max-width: 15rem;
  }

  .signup-link {
    text-align: right;
  }
}
